.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: space-around;
  width: 300px;
  height: auto;
  margin: auto;
  padding: 20px;
  background: #000000;
  border-radius: 18px;
}

.App-display {
  font-size: 4em;
  font-weight: normal;
  color: white;
  width: 85%;
  text-align: right;
}

.App-controls {
  width: 100%;
}

.App-controls button {
  background: rgb(47, 47, 47);
  border: 2px solid rgb(47, 47, 47);
  border-radius: 45px;
  padding: 8px 20px;
  font-size: 2em;
  margin: 3px;
  cursor: pointer;
  color: white;
}